<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<div class="corpo_line" />
    <div class="site_header">
      <div class="corpo_line_main">
        <div class="corpo_line_login">
          Prijava
        </div>
      </div>

      <div class="header_logo">
        <a href="{% url skram.poll.views.index %}" >
          <img src="images/SkramSi_logo.png" alt="Skram.si logo" border="0" style="margin:0; padding:0"/>
        </a>
      </div>
      <table class="site_header_table" cellspacing="0" cellpadding="0">
      </table>
    </div>
 
</body>
</html>