{% extends 'main_template.html' %}

{% block title %} Skram.si - moštvo {% endblock %}

{% block container %}

  <div class="page-section">
    <h4>Seznam slovenskih skram moštev</h4>
  </div>
  
{% endblock %}

{% block sidebar %}
  <div class="sidebar-section">
    <h4>Moštvo</h4>
    
    <p>
      The team has the responsibility to deliver the product. A team is typically made up of 5–9 people
      with cross-functional skills who do the actual work (design, develop, test, technical communication,
      etc.).
    </p>

  </div>
{% endblock %}